version: "3.9"

services:
  api:
    build: .
    container_name: gto_poker_simulator
    ports:
      - "8088:8088"
    env_file:
      - .env
    volumes:
      - ./src:/app/src
      - ./static:/app/static
      
    command: >
      sh -c "PYTHONPATH=/app/src uvicorn api.main:app --host 0.0.0.0 --port 8088 --reload"


